
@{
    ViewData["Title"] = "Index";
}

<section class="blue_background">
    <div class="content">
        <div class="bp">
            <img src="~/img/partnerImg.png" class="become_partner_img" alt="">
            <div class="become_partner">
                <div class="become_partner_title">
                    Станьте партнером
                    Сбербанка
                </div>
                <div class="become_partner_text">
                    Рекомендуем открыть счет вашим
                    бизнес-партнерам и получить деньги
                    от Сбербанка
                </div>
                <div class="become_partner_links">
                    <div class="row">
                        <div class="col-md-6 num">
                            <a href="#id" class="green_link">Стать партнером</a>
                        </div>
                        <div class="col-md-6 num">
                            <a href="#id" class="white_link">Уже партнер</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="making_money_easy">
    <div class="making_money_easy_title">
        <p>Зарабатывайте просто</p>
    </div>
    <div class="content">
        <div class="making_money_easy_num">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6 bg1 num">
                    <div class="num_img">
                        <img src="~/img/1.png" clsass="numbers" alt="">
                    </div>
                    <p class="making_money_easy_text">
                        Привлекайте клиентов
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 bg1 num">
                    <div class="num_img">
                        <img src="~/img/2.png" class="numbers" alt="">
                    </div>
                    <p class="making_money_easy_text">
                        Проверяйте онлайн статус
                        по заявкам об одобрении
                        привлечения ваших партнереов
                    </p>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 bg1 num">
                    <div class="num_img_last">
                        <img src="~/img/3.png" class="numbers" alt="">
                    </div>
                    <p class="making_money_easy_text">
                        Получайте доход
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="how_become_partner">
    <div class="content how_become_partner_content">
        <h2 class="how_become_partner_title">
            Как стать партнером
            Сбербанка
        </h2>
        <img src="~/img/man.png" class="jump" alt="">
        <div class="how_become_partner_steps">
            <div class="steps">
                <div class="row">
                    <div class="col-md-3 col-xs-6 bg1 step_content">
                        <img src="~/img/papers.png" class="step_img" alt="">
                        <p class="step_text">
                            <span style="font-weight: bold;">
                                1. Заполните заявку
                            </span>
                            Мы свяжемся с вами в течение дня
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-6 bg1 step_content">
                        <img src="~/img/papers_and_pen.png" class="step_img" alt="">
                        <p class="step_text">
                            <span style="font-weight: bold;">
                                2. Подпишите договор
                            </span>
                            <a href="#" id="download">Скачайте</a>
                            для ознакомления договор
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-6 bg1 step_content">
                        <img src="~/img/display1.png" class="step_img" alt="">
                        <p class="step_text">
                            <span style="font-weight: bold;">
                                3. Откройте счет
                                и подключите Интернет
                                Банкинг SberBuisness
                            </span>
                            Подайте заявку на подключение
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-xs-6 bg1 step_content">
                        <img src="~/img/display2.png" class="step_img" alt="">
                        <p class="step_text">
                            <span style="font-weight: bold;">
                                4. Начните работу
                            </span>
                            Передавайте заявки через
                            ваш личный кабинет партнера
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-6 bg1 step_content">
                        <img src="~/img/hand.png" class="step_img" alt="">
                        <p class="step_text">
                            <span style="font-weight: bold;">
                                5.Получите доход
                            </span>
                            За каждого успешного
                            привлеченного клиента
                        </p>
                    </div>
                    <div class="col-md-3 col-xs-6 bg1">
                    </div>
                </div>
            </div>
            <a href="#" class="green_link">Стать партнером</a>
        </div>
    </div>
</section>

<section class="how_attract_customers">
    <div class="content">
        <div class="row">
            <div class="col-md-6 num">
                <img src="~/img/man_on_rocket.png" class="how_attract_customers_img" alt="">
            </div>
            <div class="how_attract_customers_content col-md-6">
                <p class="how_attract_customers_title">Как привлекать клиентов?</p>
                <div class="how_attract_customers_text">
                    <p>
                        - Возможность оформить финансовые
                        продукты Банка на выгодных условиях;
                    </p>
                    <p>
                        - Дополнительно оформить нефинансовые
                        сервисы для развития бизнеса;
                    </p>
                    <p>
                        - Получить индивидуальный подход –
                        предоставлен закрепленный клиентский менеджер.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="apply">
    <div class="content">
        <p class="apply_title">Станьте партнером и зарабатывайте <br> прямо сейчас</p>
        <p class="apply_text">Заполните информацию и мы свяжемся с вами</p>
        <div class="apply_form">

            <form id="id" action="index.html" method="post">
                <div class="row">
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <select class="fields" name="">
                                <option>Город</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <input class="fields" type="text" name="" placeholder="Наименование компании" value="">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <input class="fields" type="text" name="" placeholder="Ф.И.О." value="">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <input id="IIN" class="fields" type="text" name="" placeholder="ИИН/БИН" value="">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <input id="phone" class="fields" type="text" name="" placeholder="Мобильный номер" value="">
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6">
                        <div class="form-group">
                            <input class="fields" type="text" name="" placeholder="Email" value="">
                        </div>
                    </div>
                </div>
                <div class="submit">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="submit" class=" apply_submit" value="Подать заявку">
                        </div>
                        <div class="col-md-4">
                            <p>
                                Нажимая на кнопку «Отправить», я соглашаюсь
                                с <span><a href="#">условиями обработки персональных данных</a></span>
                            </p>
                        </div>
                        <div class="col-md-4">

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

